.img-about{
    width: 90%;
    height: 70%;
    border-radius: 40px;
}
.about-image{
    border-radius: 20px;
    margin-left: 40px;
}
.about-para{
    font-size: 18px;
    line-height: 20px;
    font-family: "DM Serif Text", serif;
    text-align: start !important;
    font-weight: 500;
    color: #4d4f55;

}
.title-about{
    font-family: "DM Serif Text", serif;
    font-size: 50px;
 
    font-weight: 600;
    color: #c0962b;

}
@media  (max-width: 800px){
    .about-image{
        border-radius: 20px;
        margin-left: 0px;
    }
}