.bg-img1{
    background-image: url(../../Assets/2.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    height: 100vh;
width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "DM Serif Text", serif;

}
.para{
    font-family: "DM Serif Text", serif;
    font-size: 18px;
}
.tit{
    font-family: "DM Serif Text", serif;
    font-size: 70px;
    font-weight: bold;
    color: #c0962b;

}

@media  (max-width: 800px){
    .bg-img1{
        height: 70vh;
    }

    .tit{
        font-size: 50px; 
        font-weight: bold;
        color: #c0962b;
        text-align: center;
    }

    .para{
        text-align: center;
    }

}
