.bg-img1{
    background-image: url(../../Assets/2.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    height: 90vh;
width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "DM Serif Text", serif;

}
.para{
    font-family: "DM Serif Text", serif;
    font-size: 18px;
}