body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #free-trial-container {
   
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    z-index: 999;
    box-shadow: 0 0 10px #000;
    background: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: start;
    
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
   color: #000 !important;
  }
  .form-heading-{
    color: #fff !important;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-align: center;
  }
  
  .free-trial-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group-- {
    margin-bottom: 15px;
    text-align: left;
    color: #fff !important;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    resize: vertical;
  }
  .form-lable{
    color: #fff;
  }
  
  .submit-button {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .free-trial-container {
      margin: 20px;
      padding: 15px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    .submit-button {
      padding: 10px;
      font-size: 14px;
    }
  }
  @media (max-width: 500px) {
    .img-1-form{
      height: 65vh !important;
      object-fit: cover !important;
    }
    #free-trial-container {
      max-width: 100%;
    
    }
  }
  .img-1-form{
    background-image: url(../../Assets/bg5.png);
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
  }
  .main-data-hrading--{
    color: #fff;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    line-height: 60px;
    letter-spacing: 1px;
    text-transform: lowercase;
  }