.bg-img-3{
    background-image: url(../../../../Assets/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
  

}
.main-1-heading{
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    line-height: 60px;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: lowercase;

}